* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
a:link {
    text-decoration: none;
}
.navbar h1{
    font-size: 300%;
    font-weight: 300;
    background-color: aquamarine;
    color:black;
    padding: 15px;
    border-radius: 1.5em;
}
/* Styles navbar and sets spacing for different contents */
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;
    padding:0 25px;
}

.nav {
    display: flex;
    list-style: none;
    gap: 15px;
}

.nav a {
    padding: 8px 12px;
    color:inherit;
    font-size: 125%;
}
button {
    /* margin-right:15px; */
    padding:15px;
    border-radius: 1.5em;

}
/* adds effects for nav bar buttons when hovering and focusing */
button:hover, button:focus{
    border-color: cyan;
    color: black;
    font-weight: 250;
    box-shadow: 0 0.5em 0.5em -0.25em aquamarine;
    transform: translateY(-0.25em);
    cursor: pointer;
    background-color: aquamarine;
 }
/* styles divider between navbar and main content of the page */
 .divider {
    display: flex;
    background-image: url("https://i.pinimg.com/originals/6c/56/d5/6c56d5961a690f50b8baca0b398eac7c.png");
    margin-bottom: 50px;
    justify-content: flex-end;
    background-repeat: no-repeat;
    background-size:cover;
    padding: 0 25px;
}

#quote {
    background: lightblue;
}
/* styling for rest of the page */
.page-section{
    display: flex;
    width: 70%;
    margin:auto;
}
/* styling left side of the page with the title of the section and a dividing line */
.left{
    width: 20%;
    border-right: 4px solid black;
    font-size: 2.8em;
    padding-right: 50px;
}
/* styling for right side of the page with content */
.right{
    width:80%;
    padding: 0 50px;
    font-size: 110%;
}
/* profile picture styling */
.page-section img{
    height: 30vh;
    width: 15vw;
}
/* default styling for grid items */
.project {
    display: flex;
    flex-direction: column;
    border:1px solid red;
    height:30vh;
    flex: 1;
    width: 25vw;
    border: 5px solid lightskyblue;
    background-position: center;
    align-items: flex-start;
    justify-content: flex-end;
}
    /* makes first grid item 2x bigger than the rest */
.bigProject {
    margin-top: 30px;
    height:65vh;
    width:100%;
    margin-bottom:30px;
    background-image: url(./Project1.png);
    background-repeat: no-repeat;
}
/* styling for the 4 smaller items in the grid */
.smallpics{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.row{
    display: flex;
    gap: 30px;
}
/* styling for titles of the grid items */
h3, h5 {
    background: rgb(137, 231, 254);
    background-size: 150%;
    color: black;
    width: 25%;
    margin: 0;
    padding-right: 20px;
}
/* adds background image for the projects */
#toDoList{
    background-image: url(./project2.png);
    background-size: contain;
}
#Recipebot {
    background-image: url(https://i.pinimg.com/564x/3a/d2/56/3ad25624f4365bdcf857082e724348b3.jpg);
}
#Weatherapp{
    background-image: url(https://i.pinimg.com/564x/f6/a1/f3/f6a1f32c2a9cc38749a15797bc909539.jpg);
}
#Finalproj{
    background-image: url(https://i.pinimg.com/564x/09/d6/bf/09d6bfc03b197744925c51762fb97cbc.jpg);
}
ul{
    display: flex;
    gap: 50px;
    padding-right: 30px;
}
/* styles list items in the contact section */
#list{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-weight: 500;
    font-size: 175%;
    color: black;
}
/* adds effects when hovering over or focusing on different sections of the page */
 .left:hover, .left:focus, .right:hover, .right:focus, .bigProject:hover, .bigProject:focus, .project:hover, .project:focus {
    background-color: skyblue;
    transform: scale(105%, 105%);
    border:5px solid rgb(221, 159, 244);
}
li:hover, li:focus{
    transform: scale(105%, 105%);
    color: yellow;
    box-shadow: 0 0.5em 0.5em -0.25em aquamarine;
}

/* first media query for when the left side with the titles collapse onto the content to make the page for viewable */
@media only screen
and (max-width: 1750px) {
    button{
        display: block;
    }
    .page-section {
        display:block;
    }
    .left {
        width: 100%;
        border-bottom:3px solid black;
        margin-bottom: 10px;
    }
    .bigProject {
        width:100%;
    }
    .smallpics {
        width: 59%;
        height: 80%;
    }
    ul {
        display: block;
    }
}
/* media query for smaller screens and make cotents displat in block and column format */
@media screen and (max-width: 756px) {
    .nav{
        display: block;
    }
    .page-section {
        display:block;  
    }
    .left {
        width: 100%;
        border-bottom:3px solid black;
        margin-bottom: 10px;
    }
    .row {
        flex-direction: column;
    }
    .page-section img {
        height: 25vh;
        width: 30vw; 
    }

    .project {
        height:20vh;
        width: 40vh;
    }
    .bigProject {
        height:40vh;
    }
    ul {
        display: block;
    }
}
