* {
    box-sizing: border-box;
}
body {
    margin: 0;
}

.navbar h1{
    font-size: 300%;
    font-weight: 300;
    background-color: aquamarine;
    color:black;
    padding: 15px;
    border-radius: 1.5em;
}
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;
    padding:0 25px;
}

.nav {
    display: flex;
    list-style: none;
    gap: 15px;
}

.nav a {
    padding: 8px 12px;
    color:inherit;
    font-size: 125%;
}
button {
    /* margin-right:15px; */
    padding:15px;
    border-radius: 1.5em;

}

button:hover, button:focus{
    border-color: cyan;
    color: black;
    font-weight: 250;
    box-shadow: 0 0.5em 0.5em -0.25em aquamarine;
    transform: translateY(-0.25em);
    cursor: pointer;
    background-color: aquamarine;
 }

 .divider {
    display: flex;
    background-image: url("https://i.pinimg.com/originals/6c/56/d5/6c56d5961a690f50b8baca0b398eac7c.png");
    margin-bottom: 50px;
    justify-content: flex-end;
    background-repeat: no-repeat;
    background-size:cover;
    padding: 0 25px;
}

#quote {
    background: lightblue;
}

.page-section{
    display: flex;
    width: 70%;
    margin:auto;
}
.left{
    width: 20%;
    /* border: 1px solid red; */
    border-right: 4px solid black;
    font-size: 2.8em;
    padding-right: 50px;
}

.right{
    /* border:1px solid blue; */
    width:80%;
    padding-left: 50px;
    font-size: 110%;
}
.page-section img{
    height: 30vh;
    width: 15vw;
}